@page "/Account/AccessDenied"

<PageTitle>Access denied</PageTitle>

<header>
    <RadzenText TextStyle="TextStyle.H1" TagName="TagName.H1" class="text-danger">Access denied</RadzenText>
    <p class="text-danger">You do not have access to this resource.</p>
</header>
