@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Forgot password confirmation</PageTitle>

<RadzenText TextStyle="TextStyle.H1" TagName="TagName.H1">Forgot password confirmation</RadzenText>
<p role="alert">
    Please check your email to reset your password.
</p>
