@page "/Account/InvalidPasswordReset"

<PageTitle>Invalid password reset</PageTitle>

<RadzenText TextStyle="TextStyle.H1" TagName="TagName.H1">Invalid password reset</RadzenText>
<p role="alert">
    The password reset link is invalid.
</p>
