@page "/Account/Lockout"

<PageTitle>Locked out</PageTitle>

<header>
    <RadzenText TextStyle="TextStyle.H1" TagName="TagName.H1" class="text-danger">Locked out</RadzenText>
    <p class="text-danger" role="alert">This account has been locked out, please try again later.</p>
</header>
