@page "/Account/Register"

@inject NavigationManager NavigationManager

<PageTitle>Registration Disabled</PageTitle>

<RadzenText TextStyle="TextStyle.H1" TagName="TagName.H1">Registration</RadzenText>

<p>Self-registration is not available. Please contact an HOA officer to create your account.</p>

<a href="/" class="btn btn-primary">Back to Home</a>
