@page "/Account/ResetPasswordConfirmation"
<PageTitle>Reset password confirmation</PageTitle>

<RadzenText TextStyle="TextStyle.H1" TagName="TagName.H1">Reset password confirmation</RadzenText>
<p role="alert">
    Your password has been reset. Please <a href="Account/Login">click here to log in</a>.
</p>
