@implements IDisposable
@using Server.Data

@inject NavigationManager NavigationManager

<div class="top-row">
    <div class="top-row-inner">
        <a class="navbar-brand" href="">
            <img src="favicon.webp" alt="Claymont Estates" style="height: 28px; width: auto;" />
            <span>Claymont Estates</span>
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav">
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <RadzenIcon Icon="home" class="nav-icon" /> Home
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="about">
                <RadzenIcon Icon="info" class="nav-icon" /> About
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item">
                    <NavLink class="nav-link" href="directory">
                        <RadzenIcon Icon="contacts" class="nav-icon" /> Directory
                    </NavLink>
                </div>

                <div class="nav-item">
                    <NavLink class="nav-link" href="documents">
                        <RadzenIcon Icon="folder" class="nav-icon" /> Documents
                    </NavLink>
                </div>

                <div class="nav-item">
                    <NavLink class="nav-link" href="events">
                        <RadzenIcon Icon="event" class="nav-icon" /> Events
                    </NavLink>
                </div>

                <AuthorizeView Policy="@Roles.OfficerPolicy">
                    <Authorized Context="adminContext">
                        <div class="nav-item">
                            <NavLink class="nav-link" href="admin/users">
                                <RadzenIcon Icon="manage_accounts" class="nav-icon" /> Manage Users
                            </NavLink>
                        </div>
                        <div class="nav-item">
                            <NavLink class="nav-link" href="admin/events">
                                <RadzenIcon Icon="edit_calendar" class="nav-icon" /> Manage Events
                            </NavLink>
                        </div>
                        <div class="nav-item">
                            <NavLink class="nav-link" href="admin/emails">
                                <RadzenIcon Icon="mail" class="nav-icon" /> Bulk Emails
                            </NavLink>
                        </div>
                    </Authorized>
                </AuthorizeView>

                <div class="nav-item">
                    <NavLink class="nav-link" href="Account/Manage">
                        <RadzenIcon Icon="person" class="nav-icon" /> @context.User.Identity?.Name
                    </NavLink>
                </div>
                <div class="nav-item">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="nav-link">
                            <RadzenIcon Icon="logout" class="nav-icon" /> Logout
                        </button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item">
                    <NavLink class="nav-link" href="Account/Login">
                        <RadzenIcon Icon="login" class="nav-icon" /> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
