@inherits LayoutComponentBase
@layout Server.Components.Layout.MainLayout

<h1>Manage your account</h1>

<div>
    <h2>Change your account settings</h2>
    <hr />
    <div class="manage-layout">
        <nav class="manage-sidebar">
            <ManageNavMenu />
        </nav>
        <div class="manage-content">
            @Body
        </div>
    </div>
</div>
