@inherits LayoutComponentBase
@layout Server.Components.Layout.MainLayout

<RadzenText TextStyle="TextStyle.H1" TagName="TagName.H1">Manage your account</RadzenText>

<div>
    <h2>Change your account settings</h2>
    <hr />
    <div class="manage-layout">
        <nav class="manage-sidebar">
            <ManageNavMenu />
        </nav>
        <div class="manage-content">
            @Body
        </div>
    </div>
</div>
