@page "/"

<PageTitle>Claymont Estates</PageTitle>

<h1>Welcome to the Claymont Estates Community Portal</h1>

<p>This is the community portal for our homeowners association. Residents can log in to view the neighborhood directory and manage their profile.</p>

<p>If you're a resident and don't have an account yet, please contact an HOA officer to get set up.</p>
